# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=????
MYSQL_PASSWORD=????
MYSQL_DB=????

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=????
PG_PASSWORD=????
PG_DB=????

# Oracle
ORA_USER=????
ORA_PASSWORD=????
ORA_DSN=localhost:1521/xe

# ????에 자신의 상황에 알맞는 값을 넣으시면 됩니다.

# telegram
# @BotFather에게 받은 토큰값과 @Userinfobot에게 받은 ID를 넣으시면 됩니다.
TELEGRAM_TOKEN=토큰값
TELEGRAM_CHAT_ID=ID